<a class="btn btn-sm btn-secondary" href="{{ path(route, {'page': page, 'sortColumn': column, 'sortDirection': 'ASC'}) }}">&#8613;</a>
<a class="btn btn-sm btn-secondary" href="{{ path(route, {'page': page, 'sortColumn': column, 'sortDirection': 'DESC'}) }}">&#8615;</a>